<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../icons/confirmation.png">

        <title>^Menu^</title>

        <link href="../Bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../Bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../CSS/General.css" rel="stylesheet">
        <link href="../CSS/JQueryUI.css" rel="stylesheet">
        <link href="../CSS/font-awesome/css/font-awesome.css" rel="stylesheet" >
        <link href="../Bootstrap/dist/css/bootstrap-select.css" rel="stylesheet">
        <link href="../Bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet">

        <script src="../Bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>
        <script src="../JS/JQuery.js"></script>
        <script src="../JS/functions.js"></script>
        <script src="../JS/JQueryUI.js"></script>
        <script src="../JS/Ajax/ajax.js"></script>
        <script src="../Bootstrap/docs/dist/js/bootstrap.min.js"></script>
        <script src="../Bootstrap/docs/examples/tooltip-viewport/tooltip-viewport.js"></script>
        <script src="../JS/Bootstrap-select.min.js"></script>
    </head>

    <body role="document" onload="reziseTable(); loadCalendar(); hiddenElement('advancedSearch', 'true')" onresize="reziseTable();" onbeforeunload="closeSession();">

    |NavBar|
        <div class="container theme-showcase" role="main">
            <div class="site-wrapper">
                <div class="site-wrapper-inner">
                    <div class="cover-container">
                        <div class="inner cover">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Notarius Ad Omnes</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="well" style="text-align:center">
                                        |biblic|
                                    </div>
                                    <p class="lead">^Welcome To^ Notarius Ad Omnes.</p>
                                    <p class="lead">« Username »</p>
                                    <p class="lead">
                                        <a href="baptismMenu.php" class="btn btn-lg btn-danger">
                                            <img src="../icons/baptism.png" height="20px">
                                            ^Baptism^
                                        </a>
                                        <a href="communionMenu.php" class="btn btn-lg btn-success">
                                            <img src="../icons/communion.png" height="20px">
                                            ^Communion^
                                        </a>
                                        <a href="confirmationMenu.php" class="btn btn-lg btn-warning">
                                            <img src="../icons/confirmation.png" height="20px">
                                            ^Confirmation^
                                        </a>
                                        <a href="marriageMenu.php" class="btn btn-lg btn-primary">
                                            <img src="../icons/marriage.png" height="20px">
                                            ^Marriage^
                                        </a>
                                    </p>
                                    <p>
                                        <a href="proofMenu.php" class="btn btn-lg btn-default">
                                            <img src="../icons/proof.png" height="20px">
                                            ^Proof Talks^
                                        </a>
                                        <a href="defuntionMenu.php" class="btn btn-lg btn-danger">
                                            <img src="../icons/defuntion.png" height="20px">
                                            ^Defuntion^
                                        </a>
                                    </p>
                                    <p>
                                        <a href="churchMenu.php" class="btn btn-lg btn-success">
                                            <img src="../icons/church.png" height="20px">
                                            ^Church^
                                        </a>
                                        <a href="rectorMenu.php" class="btn btn-lg btn-primary">
                                            <img src="../icons/rector.png" height="20px">
                                            ^Rector^
                                        </a>
                                        <a href="userMenu.php" class="btn btn-lg btn-warning">
                                            <img src="../icons/user.png" height="20px">
                                            ^Users^
                                        </a>
                                    </p>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    Notarius Ad Omnes, <a href="noticeOfPrivacy.php">^Check Our Notice Of Privacy^.</a>
                </p>
            </div>
        </footer>    
  </body>
</html>
