<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../icons/confirmation.png">

        <title>^Insert Vicar^</title>

        <link href="../Bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../Bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../CSS/General.css" rel="stylesheet">
        <link href="../CSS/JQueryUI.css" rel="stylesheet">
        <link href="../CSS/font-awesome/css/font-awesome.css" rel="stylesheet" >
        <link href="../Bootstrap/dist/css/bootstrap-select.css" rel="stylesheet">
        <link href="../Bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet">

        <script src="../Bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>
        <script src="../JS/JQuery.js"></script>
        <script src="../JS/functions.js"></script>
        <script src="../JS/JQueryUI.js"></script>
        <script src="../JS/Ajax/ajax.js"></script>
        <script src="../Bootstrap/docs/dist/js/bootstrap.min.js"></script>
        <script src="../Bootstrap/docs/examples/tooltip-viewport/tooltip-viewport.js"></script>
        <script src="../JS/Bootstrap-select.min.js"></script>
    </head>
    <body role="document" onload="reziseTable(); loadCalendar(); hiddenElement('advancedSearch', 'true')" onresize="reziseTable();" onbeforeunload="closeSession();">

        |NavBar|

        <div class="container theme-showcase" role="main">
            <div class="panel panel-info" id='main'>
                <div class="panel-heading">
                    <h3 class="panel-title">^Insert New Vicar^</h3>
                </div>
                <div class="panel-body" id='panel-body'>
                    <div id="no-more-tables2">
                        <table class="table table-condensed cf" id="table1">
                            <tbody style="margin-left: 20px; background-color: transparent;">
                                <tr>
                                    <th style="text-align: center;">
                                        <label class="inside-form" id="name">^Name^*</label>
                                    </th>
                                </tr>
                                <tr>
                                    <td data-title="^Name^*">
                                        <input type="text" class="form-control" placeholder="^characters^" id="nameVicar" onkeyup="inputNames('nameVicar');" onclick="normalData('vicarInsertion.php')">
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <p>
                    |SaveButton|
                    |CancelButton|
                    |ReturnButton|
                </p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    Notarius Ad Omnes, <a href="noticeOfPrivacy.php">^Check Our Notice Of Privacy^.</a>
                </p>
            </div>
        </footer>    
    </body>
</html>